<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Find a Dog</h1>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.fullName">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-disabled="!vm.fullName" ng-click="vm.searchDog()">Search</button>
          </span>
        </div>
        <p>
          <a ui-sref="dogs">Advanced Filters</a>
        </p>
      </div>

    </div>

  </div>

</div>
