<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dogs Filters:</h1>
      <form class="form-horizontal row" role="form">
        <div class="form-group col-md-4">
          <label for="fullName" class="control-label">Imie z Przydomkiem</label>
          <input type="text" class="form-control" id="fullName" placeholder="Imie z Przydomkiem" ng-model="vm.filterDog.fullName">
        </div>
        <div class="form-group col-md-4">
          <label for="name" class="control-label">Imie Domowe</label>
          <input type="text" class="form-control" id="name" placeholder="Imie Domowe" ng-model="vm.filterDog.name">
        </div>
        <div class="form-group col-md-4">
          <label for="kennel" class="control-label">Hodowla</label>
          <input disabled type="text" class="form-control" id="kennel" placeholder="Hodowla" ng-model="vm.filterDog.kennel">
        </div>
        <div class="form-group col-md-4">
          <label for="sex" class="control-label">Plec</label>
          <select id="sex" class="form-control" ng-model="vm.filterDog.sex">
            <option value="">Wszystkie</option>
            <option value="Male">Samiec</option>
            <option value="Female">Samica</option>
          </select>
        </div>
      </form>
      <h1 class="page-header">Dogs Results:</h1>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Imie z Przydomkiem</th>
            <th>Imie Domowe</th>
            <th>Hodowla</th>
            <th>Plec</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dog in vm.dogs | filter: vm.filterDog">
            <td>{{ $index + 1 }}</td>
            <td><a href="/dogs/{{ dog._id }}">{{ dog.fullName }}</a></td>
            <td>{{ dog.name }}</td>
            <td><a href="/kennel/#">-</a></td>
            <td>{{ dog.sex }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
